@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

/** Originally from `t3-env-docs`
 * @link https://github.com/t3-oss/t3-env/blob/main/docs/mdx-components.tsx
 */

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-8 w-8 items-center justify-center rounded-full bg-accent text-center -indent-px  text-base font-medium;
    @apply ml-[-41px];
    content: counter(step);
  }
}

@layer components {
  [data-rehype-pretty-code-fragment] {
    @apply relative;
  }

  [data-rehype-pretty-code-fragment] button:first-of-type {
    @apply hidden;
  }

  [data-language-icon] {
    @apply hidden;
  }

  [data-rehype-pretty-code-title] {
    padding: 0.75rem 0 0.75rem 2.5rem;
    @apply mt-4 rounded-t-lg border border-b-0 bg-accent;
  }

  [data-rehype-pretty-code-title]:has(+ [data-language-icon]) {
    @apply pl-12;
  }

  [data-rehype-pretty-code-title] ~ pre {
    @apply mt-0 rounded-t-none;
  }

  [data-rehype-pretty-code-title] ~ [data-language-icon][data-theme="light"] {
    @apply block dark:hidden;
  }

  [data-rehype-pretty-code-title] ~ [data-language-icon][data-theme="dark"] {
    @apply hidden dark:block;
  }

  [data-theme="light"]:not([data-language-icon]) {
    @apply block dark:hidden;
  }

  [data-theme="dark"]:not([data-language-icon]) {
    @apply hidden dark:block;
  }

  table {
    @apply my-6;
  }

  details {
    @apply border-b;
  }

  summary {
    @apply cursor-pointer py-4 font-medium hover:underline;
  }

  details pre:first-of-type,
  details pre:last-of-type {
    @apply mt-2;
  }
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply rounded bg-muted-foreground/40  p-1;
}
[data-rehype-pretty-code-fragment] .word {
  @apply rounded bg-muted-foreground/40  p-1;
}
